{{>header}}
<p>{{description}}</p>
<form>
    <input type="text" required="true" placeholder="Location"/>
    <button>Search</button>
</form>

<div class="response">
    <p id="message-1"></p>
    <p id="message-2"></p>
</div>
{{>footer}}
<script src="./js/app.js"></script>