<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>

        <link rel="stylesheet" href="./css/style.css"/>
    </head>
    <body>
        <div class="container">
        <h1 class="page-title">{{title}}</h1>
        <ul class="header-menu">
            <li>
                <a href="/">
                    Weather
                </a>
            </li>
            <li>
                <a href="/about">
                    About Me
                </a>
            </li>
            <li>
                <a href="/help">
                    Help
                </a>
            </li>
        </ul>